@font-face {
  font-family: 'Louis George Cafe';
  src: url('./assets/louis-george-cafe-light.woff') format('woff'),
       url('./assets/louis-george-cafe-light.woff') format('truetype');
  font-weight: light;
}

body {
  font-family: 'Louis George Cafe';
  letter-spacing: 0.5em;
  line-height: 1.6;
}

h1 {
  letter-spacing: 0.5em;
}

a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

nav {
  display: flex;
  letter-spacing: 0;
  align-items: center;
  margin: 25px;
}

img.social-icon {
  height: 28px;
  color: blue;
  margin: 0px 5px;
}

nav div#nav-links {
  margin-left: 10px;
}

nav a.nav-link {
  letter-spacing: 0.5em;
  margin: 0 5px;
}

article {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

section {
  margin: 0 auto;
}

img#storefront {
  width: 100%;
  max-width: 500px;
}

section#info {
  padding: 20px 50px 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  word-break: break-word;
}

section#info col.first-column {
  width: 150px;
}

table tr.blank-row {
  height: 20px;
}

table th {
  text-align: left;
}

table#menu {
  margin: 0 auto 100px auto;
  text-transform: uppercase;
  min-width: 640px;
}

table#menu tr td{
  vertical-align: top;
  padding-bottom: 0.4em;
}

tr td h6{
  margin: 0.3em;
}


@media only screen and (max-width: 1024px) {

  body {
    margin: 15px;
  }

  h1 {
    font-size: 24px;
  }

  p, a, table {
    font-size: 12px;
  }

  nav {
    justify-content: space-between;
    margin: 0px;
  }

  nav div#nav-links {
    display: flex;
    flex-direction: column;
    text-align: right;
  }

  article {
    display: flex;
    flex-direction: column;
  }

  img#logo {
    max-width: 100px;
  }

  section {
    margin: initial;
  }

  section#info {
    padding: 0;
  }

  section#info col.first-column {
    width: 125px;
  }

  table#menu {
    margin: 0 auto 60px auto;
    min-width: auto;
  }
}
